.calc {
    height: 320px;
    width: 325px;
    border-radius: 5px;
    overflow: hidden;
    background-color: red; 
    box-shadow: 0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}