:root {
    --bg-botao: #ffffff;
    --border-botao: solid 1px #888;
}

.botao {
    font-size: 8.4em;
    background-color: var(--bg-botao);
    border: 3px solid #000000;
    border-right: var(--border-botao);
    border-bottom: var(--border-botao);
    outline: none;
}